<div class="row" style="height:200px">
  <div class="col-xs-3">
    <a class="th radius" href="#">
      <img src="<%= 'data:image/png;base64,' + Avatar.data %>" style="height:180px; padding-top:10px" />
    </a>
    <form method="post" enctype="multipart/form-data" action="<%= '/api/upload/' + _id %>">
      <input type="file" name="file">
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="col-xs-5" style="padding-top:42px;">
    <div class="row edit-user-info-row">
      <div class="col-xs-5 user-info-label">Age</div>
      <div class="col-xs-7 ">
        <input type="text" class="form-control age">
        </div>
    </div>
    <div class="row edit-user-info-row">
      <div class="col-xs-5 user-info-label">Name</div>
      <div class="col-xs-7">
        <input type="text" class="form-control name">
        </div>
    </div>
    <div class="row edit-user-info-row">
      <div class="col-xs-5 user-info-label">Email</div>
      <div class="col-xs-7">
        <input type="text" class="form-control email">
        </div>
    </div>
  </div>
  <div class="col-xs-4">
    <blockquote>
      <button type="button" class="btn btn-default save">
        Save
      </button>
      <button type="button" class="btn btn-default cancel">
        Cancel
      </button>
    </blockquote>
  </div>
</div>

