<div class="jumbotron">
  <div class="container">
    <h1>Marionette!</h1>
    <p style="color:#DAB8EE">Edit user</p>
  </div>
</div>
<div id="list-users" class="container">
  <div id="panel-region"></div>
  <div id="table-region"></div>
</div>
