<ul class="nav navbar-nav">
  <li class="active home">
    <a href="#">Home</a>
  </li>
  <li class="users">
    <a href="#users">Users</a>
  </li>
  <li class="contact">
    <a href="#contact">Contact</a>
  </li>
</ul>
